body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    position: relative;
}
.container{
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.caption{
    border-top: 1px grey solid;
}
.caption p {
    font-weight: bold;
}
.add{
    padding: 10px 30px;
    height: 30px !important;
    background-color: rgb(0, 110, 255);
    position: absolute;
    top: 20px;
    left: 20px;
}
.add, .actionButton:hover{
    cursor: pointer;
}
.add:hover{
    background-color: rgb(3, 87, 197);
}
.client, .caption{
    border-bottom: 1px grey solid;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    text-align: center;
    width: 100%;
}
.container-actionButton{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
.actionButton{
    display: flex;
    align-items: center;
    height: 50%;
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}
.yellow{
    background-color: #ffc104;
}
.yellow:hover{
    background-color: #d6a205;
}
.red{
    background-color: rgb(224, 3, 3);
}
.red:hover{
    
}