body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  background: url(../assets/pexels-valeria-boltneva-1639557.jpg) center/cover
    no-repeat; /* Substitua 'sua-imagem-de-fundo.jpg' pelo caminho da sua imagem de fundo */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f0f0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  transition: background-color 0.3s, opacity 0.3s;
}

.overlay.show {
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 1;
}

.aviso-content {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.close-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.close-btn:hover {
  background-color: #0056b3;
}

.container {
  background: rgba(255, 255, 255, 0.8); /* Adiciona sombra à imagem de fundo */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border-radius: 5px;
}

button:nth-of-type(1),
button:nth-of-type(2) {
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
button:nth-of-type(1) {
  background-color: #4caf50;
  margin-bottom: 10px;
}
button:nth-of-type(2) {
  background-color: rgb(32, 106, 159);
}
button:nth-of-type(1):hover {
  background-color: #45a049;
}

button:nth-of-type(2):hover {
  background-color: rgb(27, 94, 142);
}
