<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sistema Delivery - SabisLanche</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link href="style.css" rel="stylesheet" />
    <link
      rel="icon"
      href="https://img.icons8.com/color-glass/48/cheeseburger.png"
    />
  </head>
  <body class="fastFood">
    <header>
      <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand text-light"
            >Sabis <span style="font-weight: bold">Lanches</span>
            <img
              width="48"
              height="48"
              src="https://img.icons8.com/color-glass/48/cheeseburger.png"
              alt="cheeseburger" /></a
          ><!--<a  href="https://icons8.com/icon/E3l2HAe3zEBV/x-burger">X-Burger</a> icon by <a href="https://icons8.com">Icons8</a>-->
          <form class="d-flex justify-content-around" role="search">
            <button
              type="button"
              class="btn negrito"
              style="background-color: #f52424; color: white"
              data-bs-toggle="modal"
              data-bs-target="#modalCadastro"
              onclick="listarProdutos('modalCadastro')"
            >
              Fazer Pedido
            </button>
            <button
              type="button"
              class="btn negrito"
              style="background-color: #2626e1; color: white; margin-left: 10px"
              onclick="logout()"
            >
              Sair
            </button>
          </form>
        </div>
      </nav>
    </header>
    <main
      class="d-flex justify-content-around p-3 align-items-center flex-wrap"
      id="cardsContainer"
    ></main>
    <!--Div dos cards-->
    <!-- Modal Para cadastro -->
    <div
      class="modal fade"
      id="modalCadastro"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      id="cardsContainer"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Faça Seu Pedido
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body modalCadastro"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="fazerPedido()"
            >
              Adicionar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Modal para edicao-->
    <div
      class="modal fade"
      id="modalEdicao"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
      id="cardsContainer"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">
              Altere Seu Pedido
            </h1>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body modalEdicao"></div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancelar
            </button>
            <button
              type="button"
              class="btn btn-primary"
              id="editarPedido"
              onclick="editarPedido()"
            >
              Editar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="alerta" id="alerta">
      <div class="card-container">
        <div id="alert-text">Alerta!</div>
        <div class="loading-bar">
          <div class="progress-bar"></div>
        </div>
      </div>
    </div>
    <div class="loader" id="loader"></div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <script src="main.js"></script>
  </body>
</html>
