body {
  min-height: 100vh;
  box-shadow: inset 0 0 0 1900px rgba(0, 0, 0, 0.4);
}
.negrito {
  font-weight: bold;
}
.preco {
  color: #4caf50;
}
.fastFood {
  background: url(../assets/pexels-valeria-boltneva-1639557.jpg) center / cover
    no-repeat;
}
.cardComanda {
  padding: 20px;
  min-height: 400px;
  width: 300px;
  display: grid;
  grid-template-rows: 0.5fr 3fr 1fr;
  background-color: white;
  border-radius: 10px;
}
.titulo,
.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes {
  width: 100%;
  flex-direction: column;
}
form {
  min-width: 400px;
}
.alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  text-align: center;
}

.alert-text {
  margin-bottom: 16px;
}

.loading-bar {
  width: 100%;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  width: 100%;
  background-color: #4caf50;
  animation: progress 5s linear;
}

@keyframes progress {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
