body {
  min-height: 100vh;
  box-shadow: inset 0 0 0 1900px rgba(0, 0, 0, 0.4);
}
.negrito {
  font-weight: bold;
}
.fastFood {
  background: url(../assets/pexels-valeria-boltneva-1639557.jpg) center / cover
    no-repeat;
}
.cardComanda {
  padding: 20px;
  min-height: 400px;
  width: 300px;
  display: grid;
  grid-template-rows: 0.5fr 3fr 1fr;
  background-color: white;
  border-radius: 10px;
}
.titulo,
.botoes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botoes {
  width: 100%;
  flex-direction: column;
}
